*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

a{
    text-decoration: none;
    color: var(--text-color-dark);
}

:root{
    --primary-color: #FF3131;
    --secundary-color: #FFF;
    --text-color-dark: #000;
    --text-color-light: #fff;
    --icon-color: #F3F3F3;
}